/* positoin classes */

.p-fixed {
  position: fixed;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.p-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

/* Flex-Box Classes */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.just-self-item-start {
  justify-self: flex-start;
}
.just-self-item-end {
  justify-self: flex-end;
}
.just-self-item-center {
  justify-self: center;
}

.align-self-item-start {
  align-self: flex-start;
}
.align-self-item-end {
  align-self: flex-end;
}
.align-self-item-center {
  align-self: center;
}
/* Text Classes */
.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-ellipsis {
  text-overflow: ellipsis;
}

.t-upper {
  text-transform: uppercase;
}

.t-lower {
  text-transform: lowercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.t-ident-50 {
  text-indent: 50px;
}

.t-ident-100 {
  text-indent: 100px;
}

.l-height-5 {
  line-height: 1.5;
}

.l-height-6 {
  line-height: 1.6;
}
.l-height-7 {
  line-height: 1.7;
}
.l-height-8 {
  line-height: 1.8;
}

.l-height-2 {
  line-height: 2;
}

.t-main-color {
  color: #03a9f4;
}

.t-second-color {
  color: #f6f6f6;
}
.p-color {
  color: #333;
}
.p-sec-color {
  color: #343334;
}
.bg-main-color {
  background-color: #f6f6f6;
}
.bg-sec-color {
  background-color: #eaeaea;
}
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}
.bg-white {
  color: #fff;
}
.bg-color-3 {
  color: #333;
}
.first-bg-color {
  background-color: #b33939;
}
.second-bg-color {
  background-color: #227093;
}
.third-bg-color {
  background-color: #218c74;
}
/* Font Classes */
.fs-xxs {
  font-size: xx-small;
}

.fs-xs {
  font-size: x-small;
}

.fs-s {
  font-size: small;
}

.fs-m {
  font-size: medium;
}

.fs-l {
  font-size: large;
}

.fs-xl {
  font-size: x-large;
}

.fs-xxl {
  font-size: xx-large;
}

.fs-smaller {
  font-size: smaller;
}

.fs-larger {
  font-size: larger;
}

.fs-10 {
  font-size: 10px;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}

.fs-50p {
  font-size: 50%;
}

.fs-150p {
  font-size: 150%;
}

.fsty-normal {
  font-style: normal;
}

.fsty-italic {
  font-style: italic;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
  color: #f6f6f6;
}
/* padding class */
.pad-0 {
  padding: 0;
}
.pad-20 {
  padding: 20px;
}
.pad-30 {
  padding: 30px;
}
.pad-40 {
  padding: 40px;
}
.pad-t-0 {
  padding-top: 0;
}
.pad-b-0 {
  padding-bottom: 0;
}
.pad-r-0 {
  padding-right: 0;
}
.pad-l-0 {
  padding-left: 0;
}

.pad-t-10 {
  padding-top: 10px;
}
.pad-b-10 {
  padding-bottom: 10px;
}
.pad-r-10 {
  padding-right: 10px;
}
.pad-l-10 {
  padding-left: 10px;
}

.pad-t-15 {
  padding-top: 15px;
}
.pad-b-15 {
  padding-bottom: 15px;
}
.pad-r-15 {
  padding-right: 15px;
}
.pad-l-15 {
  padding-left: 15px;
}

.pad-t-20 {
  padding-top: 20px;
}
.pad-b-20 {
  padding-bottom: 20px;
}
.pad-r-20 {
  padding-right: 20px;
}
.pad-l-20 {
  padding-left: 20px;
}

/* margin class */
.mr-auto {
  margin: auto;
}
.mr-r-auto {
  margin-right: auto;
}
.mr-l-auto {
  margin-left: auto;
}
.mr-0 {
  margin: 0;
}
.mr-t-0 {
  margin-top: 0;
}
.mr-b-0 {
  margin-bottom: 0;
}
.mr-r-0 {
  margin-right: 0;
}
.mr-l-0 {
  margin-left: 0;
}

.mr-t-10 {
  margin-top: 10px;
}
.mr-b-10 {
  margin-bottom: 10px;
}
.mr-r-10 {
  margin-right: 10px;
}
.mr-l-10 {
  margin-left: 10px;
}

.mr-t-15 {
  margin-top: 15px;
}
.mr-b-15 {
  margin-bottom: 15px;
}
.mr-r-15 {
  margin-right: 15px;
}
.mr-l-15 {
  margin-left: 15px;
}

.mr-t-20 {
  margin-top: 20px;
}
.mr-b-20 {
  margin-bottom: 20px;
}
.mr-r-20 {
  margin-right: 20px;
}
.mr-l-20 {
  margin-left: 20px;
}
/* height class */
.he-0 {
  height: 0;
}
.he-20 {
  height: 20px;
}
.he-100-vh {
  height: 100vh;
}
.mx-he-100vh {
  max-height: 100vh;
}
.min-he-100vh {
  min-height: 100vh;
}
/* width class */
.wid-100 {
  width: 100%;
}
.wid-100-vw {
  width: 100vw;
}
.mx-wid-100 {
  max-width: 100%;
}
/* outline class */
.out-o {
  outline: none;
}
/* anchor link class */
.tx-dec-non {
  text-decoration: none;
}
/* list class */
.li-unstyle {
  list-style: none;
}
/* border class */
.br-w-1 {
  border-width: 1px;
}
.br-w-2 {
  border-width: 2px;
}
.br-w-3 {
  border-width: 3px;
}
.br-w-4 {
  border-width: 4px;
}

.br-st-so {
  border-style: solid;
}
.br-st-do {
  border-style: double;
}

/* grid class */

.grid {
  display: grid;
}

.grid-column {
  flex-direction: column;
}

.grid-justify-start {
  justify-content: flex-start;
}

.grid-justify-center {
  justify-content: center;
}

.grid-justify-end {
  justify-content: flex-end;
}

.grid-justify-between {
  justify-content: space-between;
}

.grid-justify-around {
  justify-content: space-around;
}

.grid-align-start {
  align-items: flex-start;
}

.grid-align-center {
  align-items: center;
}

.grid-align-end {
  align-items: flex-end;
}

.grid-align-baseline {
  align-items: baseline;
}
.grid-col-1 {
  grid-template-columns: 1fr;
}
.grid-col-2 {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.grid-col-3 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grid-col-4 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-row-1 {
  grid-template-rows: 1fr;
}
.grid-row-2 {
  grid-template-rows: repeat(2, 1fr);
}
.grid-row-3 {
  grid-template-rows: repeat(3, 1fr);
}
/* gap-class  */
.gap-5 {
  gap: 5;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
/* display class */
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}
/* heading class */
.h1 {
  font-size: 30px;
}
.h2 {
  font-size: 24px;
}
.h3 {
  font-size: 20px;
}
/* paragraph style */
.p {
  font-size: 16px;
}
/* image class */
.img-100 {
  width: 100%;
}
